<%= render 'commons/sidebar' %>

<%= render 'commons/header' %>

<div class='content-wrapper'>
  <section class='content-header'>
    <h1>
      <div class = 'col-sm-12 col-md-9 no-padding'>
        <%= @department&.name || '従業員リスト' %>(<%= @employees.size %>名)
        <div class='dropdown btn margin-left-13px'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='fa fa-pencil-square-o fa-6' aria-hidden='true'></i> 新規グレード登録 <span class='caret'></span></a>
          <%= render 'commons/dropdown_departments_tree_menu',
                     departments: @departments,
                     controller: :employee_salary_grades,
                     action: :new %>
        </div>
        <div class='dropdown btn'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
            部門別 <span class='caret'></span>
          </a>
          <%= render 'commons/dropdown_departments_tree_menu',
                      departments: @departments,
                      controller: :employees,
                      action: :by_grade %>
        </div>
      </div>
      <!-- search form -->
      <%= form_tag employees_by_grade_path, method: :get do %>
        <div class='input-group col-sm-12 col-md-3'>
          <%= text_field_tag :by_name, params[:by_name], class: 'form-control', placeholder: '名前検索...' %>
          <%= hidden_field_tag :department_id, @department&.id %>
            <span class='input-group-btn'>
              <%= button_tag type: :submit, name: nil, class: 'btn btn-flat' do %>
                <i class='fa fa-search'></i>
              <% end %>
            </span>
        </div>
      <% end %>
      <!-- /.search form -->
    </h1>
  </section>

  <% SalaryGrade.grades.keys.each do |grade| %>
    <section class='fix-padding'>
      <h3 class='no-margin title-size'>・ 給与グレード<%= grade %> (<%= employees_in_the_selected_grade(@employee_salary_grades, grade).size %>名)</h3>
      <div class='row scroll-container'>
        <% if employees_in_the_selected_grade(@employee_salary_grades, grade).present? %>
          <% employees_in_the_selected_grade(@employee_salary_grades, grade).each do |g|%>
            <%= link_to employee_path(id: g.employee.id),
                        class: 'user-block box box-primary fix-box scroll-item' do %>
              <%= render 'employee_thumbnail', employee: g.employee %>
              <div class='username no-wrap-scroll'><%= g.employee.name %> (<%= g.salary_grade.grade_class %>)</div>
              <div class='description no-wrap-scroll'><%= g.employee.department.name %></div>
            <% end %>
          <% end %>
        <% else %>
          <div class='name-size no-employee'>該当する従業員は登録されていません。</div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>

