<%= render 'commons/sidebar' %>

<%= render 'commons/header' %>

<div class='content-wrapper'>
  <section class='content-header'>
    <h1>
      <div class = 'col-sm-12 col-md-9 no-padding'>
        <%= @department&.name || '従業員リスト' %>(<%= @employees.size %>名)
        <%= link_to new_employee_path, class: 'btn' do %>
          <i class='fa fa-pencil-square-o fa-6' aria-hidden='true'></i>
          新規登録
        <% end %>
        <div class='dropdown btn'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
            部門別 <span class='caret'></span>
          </a>
          <%= render 'commons/dropdown_departments_tree_menu',
                      departments: @departments,
                      controller: :employees,
                      action: :by_position %>
         </div>
      </div>
      <!-- search form -->
      <%= form_tag employees_by_position_path, method: :get do %>
        <div class='input-group col-sm-12 col-md-3'>
          <%= text_field_tag :by_name, params[:by_name], class: 'form-control', placeholder: '名前検索...' %>
          <%= hidden_field_tag :department_id, @department&.id %>
            <span class='input-group-btn'>
              <%= button_tag type: :submit, name: nil, class: 'btn btn-flat' do %>
                <i class='fa fa-search'></i>
              <% end %>
            </span>
        </div>
      <% end %>
      <!-- /.search form -->
    </h1>
  </section>

  <% @position_names.each do |position| %>
    <% if employees_in_the_selected_position(@employees, position).present? %>
      <section class='fix-padding'>
        <h3 class='no-margin title-size'>・ <%= position %> (<%= employees_in_the_selected_position(@employees, position).size %>名)</h3>
        <div class='row scroll-container'>
          <% employees_in_the_selected_position(@employees, position).each do |e|%>
            <%= link_to employee_path(id: e.id) do %>
              <div class='user-block box box-primary fix-box scroll-item'>
                <%= render 'employee_thumbnail', employee: e %>
                <span class='username no-wrap-scroll'><%= e.name %></span>
                <span class='description no-wrap-scroll'><%= e.department.name %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
</div>