<div class='content-wrapper'>
  <section class='content'>

    <div class='row form-box'>
      <div class='col-md-6 col-md-offset-3'>

        <p class='form-box-title'>部門管理</p>

        <div class='box box-primary'>
          <%= form_for department do |d| %>
            <div class='box-body'>
              <div class='form-group'>
                <%= d.label :name %>
                <%= text_field :department, :name, class: 'form-control', placeholder: '例: 営業本部', required: true %>
              </div>

              <%= hidden_field :department, :parent_id, value: (department.parent_id || params['parent_id']) %>

              <div class='box-footer'>
                <%= button_tag '送信する', class: 'btn btn-block btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </section>
</div>
