<div class='content-wrapper'>
  <section class='content'>

    <div class='row form-box'>
      <div class='col-md-6 col-md-offset-3'>

        <p class='form-box-title'><%= t ".#{model_name}" %>管理</p>

        <div class='box box-primary'>
          <%= form_for model_instance do |d| %>
            <div class='box-body'>
              <div class='form-group'>
                <%= d.label "#{t ".#{model_name}"}名" %>
                <%= text_field model_name.to_sym, :name, class: 'form-control', placeholder: "新しい#{t ".#{model_name}"}を入力してください。", required: true %>
              </div>

              <div class='box-footer'>
                <%= button_tag '送信する', class: 'btn btn-block btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </section>
</div>
