<% model_name = t ".#{model_name}" %>
<div class='content-wrapper'>
  <section class='content-header'>
    <h1>
      <%= model_name %>リスト
      <%= link_to( {controller: @controller_name, action: :new}, {class: 'btn'}) do %>
        <i class='fa fa-pencil-square-o' aria-hidden='true'></i>
        新規登録
      <% end %>
    </h1>
  </section>

  <section class='content'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='box box-primary'>
          <div class='box-header with-border'>
            <h3 class='box-title'><%= model_name %>管理表</h3>
          </div>
          <!-- /.box-header -->
          <div class='box-body'>
            <table class='table table-bordered table-hover'>
              <tbody>
                <tr>
                  <th style='width: 10px'>#</th>
                  <th><%= model_name %>名</th>
                  <th style='width: 70px'></th>
                  <th style='width: 70px'></th>
                </tr>
                <% model_instances.each do |model_instance| %>
                  <tr>
                    <td><%= model_instance.id %></td>
                    <td><%= model_instance.name %></td>
                    <td>
                      <%= link_to controller: @controller_name, action: :edit, id: model_instance.id do %>
                        <i class='fa fa-pencil-square-o'></i>編集
                      <% end %>
                    </td>
                    <td>
                      <%= link_to( {controller: @controller_name, action: :destroy, id: model_instance.id }, {method: :delete, data: {confirm: '本当に削除しますか？' }} ) do %>
                        <i class='fa fa-exclamation-circle'></i>削除
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>