<div class='wrapper'>
  <!-- Main Header -->
  <%= render 'commons/header' %>
  <!-- Left side column. contains the logo and sidebar -->
  <%= render 'commons/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        所属チャットルーム一覧
        <small><%= link_to 'Create', new_room_path %></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">

        <% @rooms.each_with_index do |room, index|%>
          <div class="col-md-4">
            <%= link_to room_path(id: room.id), class: 'btn-block' do %>
              <!-- About Me Box -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Chatroom <%= index+1 %></h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body box-profile">
                  <%= image_tag '/images/sample_image.jpg', class: "profile-user-img img-responsive img-circle", alt: "User profile picture" %>

                  <h3 class="profile-username text-center"><%= room.name %></h3>

                  <p class="text-muted text-center">Software Engineer</p>

                  <hr>

                  <strong><i class="fa fa-pencil margin-r-5"></i> Roommate (<%= TalkerRoom.where(room_id: room.id).size %>)</strong>

                  <p>
                    <% TalkerRoom.where(room_id: room.id).each do |talker_room| %>
                      <span class="label label-primary"><%= talker_room.talker.username %></span>
                    <% end %>
                  </p>

                  <hr>

                  <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            <% end %>
          </div>
          <!-- /.col -->
        <% end %>

      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
</div>
